.header {
    background-color: #00979c;
    height: 30vh;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header {
        height: 40vh;
        font-size: 1rem;
    }
}

.headerAvatar {
    width: 10rem;
    height: 10rem;
}

.headerTitle {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 200;
}

.headerSlogan {
    font-size: 1.25em;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (min-width: 768px) {
    /* .headerAvatar {
        width: 14rem;
        height: 14rem;
    } */

    .headerTitle {
        font-size: 3em;
        text-transform: uppercase;
        font-weight: 200;
    }

    .headerSlogan {
        font-size: 1.75em;
        text-transform: uppercase;
        margin: 0;
    }
}