.image {
    position: relative;
    ;
}

.imageLink {
    display: block;
}

.imageStyle {
    width: 100%;
    display: block;
}

.imageTitle {
    color: white;
    right: 2rem;
    bottom: 0;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
}