/* RWD container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;

  flex-direction: column;
  align-items: center;
}

/* sm */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* xxl */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

body {
  /* font-size: 16px; */
  line-height: 1.6;
  background-color: #111828;
  /* color: white; */
}

/* layout */
.mainLayout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  /* gap: 1rem; */
}

.layoutHeader {
  grid-area: header;
}

.layoutFooter {
  grid-area: footer;
}

.layoutContent {
  grid-area: content;
}